/*
 * 〜省略〜
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */
@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }